.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.alert {
	color: #8dd392;
	background-color: azure;
	padding: 10px 0;
	border-radius: 5px;
}
.alert-danger {
	color: #da2727;
	background-color: #eec8cd;
}
